@font-face {
    font-family: "AvenirNext-Bold";
    src: url(src/fonts/AvenirNextLTPro-Bold.otf) format("OpenType");
    font-display: swap;
}

@font-face {
    font-family: "AvenirNext-BoldItalic";
    src: url(src/fonts/AvenirNextLTPro-BoldIt.otf) format("OpenType");
    font-display: swap;
}

@font-face {
    font-family: "AvenirNext-Heavy";
    src: url(src/fonts/AvenirNextLTPro-Heavy.otf) format("OpenType");
    font-display: swap;
}

@font-face {
    font-family: "AvenirNext-Italic";
    src: url(src/fonts/AvenirNextLTPro-It.otf) format("OpenType");
    font-display: swap;
}

@font-face {
    font-family: "AvenirNext-Regular";
    src: url(src/fonts/AvenirNextLTPro-Regular.otf) format("OpenType");
    font-display: swap;
}

@font-face {
    font-family: "BebasNeue-Bold";
    src: url(src/fonts/BebasNeue-Bold.woff) format("woff"),;
    font-display: swap;
}

@font-face {
    font-family: "Bebas-Regular";
    src: url(src/fonts/Bebas-Regular.woff) format("woff"),;
    font-display: swap;
}




/* Container for the entire project */
.container {
    width: calc(100% - 10%); /* Más margen a los costados */
    margin: 0 auto; /* Centra el contenedor */
    padding: 0; /* Sin padding interno */
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "AvenirNext-Regular", sans-serif;
    color: #000;
    line-height: 1.6;
}

ul{
    list-style: none;
}

.title-pink{
    color: #ff5c80;
    font-size: 3em;
    text-align: left;
    padding-bottom: 1%;
    font-family: "BebasNeue-Bold", sans-serif;
}

/* Navbar */
/* Overlay styles */
.menu-container > .overlay,
.menu-container.active > .overlay {
  position: absolute;
  right: 0;
  height: calc(100vh - 120px);
  width: calc(100vw - 120px);
  background: #fafafa;
}

.menu-container.active > .overlay {
  animation: overlay-slide-in 300ms forwards 300ms;
}

@keyframes overlay-slide-in {
  from {
    width: calc(100vw - 120px);
  }
  to {
    width: 0;
  }
}

.menu-container > .overlay {
  animation: overlay-slide-out 300ms forwards;
}

@keyframes overlay-slide-out {
  from {
    left: 0;
    width: 0;
  }
  to {
    left: 0;
    width: calc(100vw - 120px);
  }
}

/* Menu Container styles */
.menu-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #ff5c80;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: -1;
}

.menu-container::before,
.menu-container::after {
  content: '';
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.menu-container.deactive {
  animation: fade-out 600ms forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    z-index: 999;
  }
  50% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.menu-container.active {
  animation: fade-in 300ms forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 999;
  }
}

/* Menu Items styles */
.menu-container ul,
.menu-container .social {
  margin-left: -80px;
  opacity: 0;
  animation: slide-out 200ms forwards;
}

.menu-container ul {
  list-style-type: none !important;
  font-size: 3rem;
}

@keyframes slide-out {
  from {
    opacity: 1;
    margin-left: 0px;
  }
  to {
    opacity: 0;
    margin-left: -80px;
  }
}

.menu-container.active ul,
.menu-container.active .social {
  animation: slide-in 300ms forwards 600ms;
}

@keyframes slide-in {
  from {
    opacity: 0;
    margin-left: -80px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

/* Menu Items: Hover Animation */
.menu-container ul li {
  border-left: .2rem solid transparent;
  transition: border-left 200ms;
}

.menu-container ul li a {
  font-size: 7rem; 
  padding-left: .5rem;
  text-decoration: none;
  font-family: "AvenirNext-Bold", sans-serif;
  letter-spacing: 0.25em;
  line-height: 1;
}

.menu-container ul li a::after {
  content: ' »';
  font-size: 2.5rem;
  color: transparent;
  transition: color 200ms;
}

.menu-container ul li a:hover::after {
  content: ' »';
  color: #ffc015;
}

.social {
  padding: 1rem 0 0 .5rem;
}

.social a {
  font-size: 1.5rem;
  padding: .2rem;
}

.menu-container a,
.menu-container a:visited {
  color: #fafafa;
}

.menu-container a:hover,
.menu-container a:active {
  color: #ffc015;
}

@media only screen and (max-width: 649px) {
  .menu-container {
    border: none;
  }

  .menu-container > .overlay,
  .menu-container.active > .overlay {
    height: 100vh;
    width: 100vw;
  }
  
  .menu-container.active > .overlay {
    animation: overlay-slide-in 300ms forwards 300ms;
  }
  
  @keyframes overlay-slide-in {
    from {
      width: 100vw;
    }
    to {
      width: 0;
    }
  }
  
  .menu-container > .overlay {
    animation: overlay-slide-out 300ms forwards;
  }
  
  @keyframes overlay-slide-out {
    from {
      left: 0;
      width: 0;
    }
    to {
      left: 0;
      width: 100vw;
    }
  }
}

/* Navbar styles */
#navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  transition: background-color 300ms ease;
}

.menu-container.active ~ #navbar {
    background-color: #ff5c80;
}

#navbar .brand {
    filter: none; /* Sin filtro para mantener el color original */
    transition: filter 300ms ease;
    width: 120px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

.menu-container.active ~ #navbar .brand {
    filter: brightness(0) invert(1); /* Cambia el color a blanco */
}

#navbar.bg-active {
  background: #000000;
}

#navbar .nav-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .brand {
  font-size: 1.6rem;
  color: #fafafa;
  cursor: default;
}

.menu-icons {
    display: flex;
}

.social-icon {
    width: 28px; /* Ajusta el tamaño del ícono */
    height: 28px;
    margin-left: 15px; /* Espacio entre los íconos y el menú hamburguesa */
    fill: black; /* Color por defecto */
    transition: fill 300ms ease;
  }

  .menu-container.active ~ #navbar .social-icon {
    fill: white; /* Cambiar color de los íconos a blanco */
  }

/* Menu Button styles */
.menu-button {
  position: relative;
  height: 28px;
  width: 30px;
  outline: none;
  margin-left: 15px;
}

.menu-button span,
.menu-button span::before,
.menu-button span::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  background: black;
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.menu-button span {
  position: relative;
  display: block;
  top: 50%;
  transform: translate(0,-50%);
}

.menu-button span::before {
  top: -10px;
}

.menu-button span::after {
  top: 10px;
}

/*.menu-button:hover > span,
.menu-button:hover > span::before,
.menu-button:hover > span::after {
  background: #ffffff;
} */


.menu-button.active > span {
  background: transparent;
  
}

.menu-button.active > span::before {
  transform: rotate(-225deg);
  top: 0px;
  background: #ffffff;
}

.menu-button.active > span::after {
  transform: rotate(225deg);
  top: 0px;
  background: #ffffff;
}



/* Hero Section */
.hero {
  position: relative;
  text-align: right; /* Alineación del texto a la derecha */
  color: white;
  background-color: white;
  width: 100%;
}

.banner{
  width: 90%;
  margin: 0 auto;

}

.hero img {
  width: 100%;
  height: auto;
}

.gradient-overlay {
  position: absolute;
  top: 18%;
  right: 5%;
  width: 40% !important;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

.hero-text {
  position: absolute;
  top: 50%; /* Mantener centrado verticalmente */
  right: 10%; /* Ajustar la distancia a la derecha */
  transform: translateY(-50%);
  text-align: right;
  width: 50%;
  margin: 0 auto;
  z-index: 2; /* Asegura que el texto esté delante del gradiente */
}

.hero-text h1 {
  font-size: 8em;
  font-family: "BebasNeue-Bold";
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  line-height: 0.9;
}

/* Us Section */
.nosotros-section {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: white;
}

.nosotros-image-container {
  position: relative;
  margin-top: -91px;
  margin-bottom: -63px;
  margin-left: 10%;
  max-width: 50%;
  z-index: 1;
}

.nosotros-image-container img {
    width: 60%;  /* Mantiene la imagen dentro del contenedor */
    height: auto;
}

.nosotros-text-container {
    margin-left: 20px;  /* Espacio entre la imagen y el texto */
    flex: 1;
}

.nosotros-text-container p {
    font-size: 1.5em;
    line-height: 2;
    margin-bottom: 10px;  /* Espacio entre el texto y el enlace */
    color: #ba17ff;
    width: 70%;
    font-family: "AvenirNext-Regular", sans-serif;
}

.nosotros-text-container p:last-child {
    margin-top: 20px;  /* Separación adicional entre el texto y el enlace */
}

.nosotros-text-container a {
    color: #ff5c80;
    text-decoration: none;
    font-family: "AvenirNext-Regular", sans-serif;
}

.nosotros-text-container a:hover {
    text-decoration: underline;
}

/* Services Section */
.servicios-section {
  padding: 5%;
  background-image: url(src/images/background-services.svg);
  background-size: cover;
}

.servicios-container {
  display: flex;
  flex-wrap: wrap;
}

.servicios-left-text {
  flex: 1;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.servicios-left-text h2 {
  font-size: 8em;
  line-height: 0.7;
  font-family: "BebasNeue-Bold", sans-serif;
}

.servicios-right-titles {
  flex: 2;
  font-size: 3em;
  color: white;
  font-family: "AvenirNext-Regular", sans-serif;
}

.servicios-title {
  cursor: pointer;
  padding: 10px 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  font-family: "AvenirNext-Bold", sans-serif;
  border-bottom: none;
}

.servicios-title.active {
  border-bottom: 1px solid #ddd;
  width: 40%;
}

.servicios-content {
  display: none;
  margin-top: 10px;
  padding: 10px 0;
  background-color: transparent;
  font-size: 0.5em;
  color: white;
}

@media (max-width: 768px) {
  .servicios-container {
      flex-direction: column;
  }

  .servicios-left-text h2 {
      font-size: 2em;
  }
}

/* Brands Carousel */
.brands {
  text-align: center;
  padding: 20px;
  background: white;
}

.brands header{
  max-width: 1500px;
  margin: 0 auto;
}

.image-list {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.loop-slider {
  display: flex;
  animation: scroll infinite linear;
  width: 100%; /* Ancho para el efecto de loop */
  animation-duration: var(--duration); /* Duración de la animación */
}

.brands img {
  width: auto;  /* Mantiene el ancho original */
  height: auto; /* Mantiene la altura original */
  object-fit: contain; /* Asegura que la imagen se contenga dentro del contenedor */
  margin: 1% 2%;
  filter: grayscale(100%); /* Escala de grises inicial */
  transition: filter 0.3s ease; /* Transición suave */
}

/* Eliminar el hover */
.brands img:hover {
  filter: grayscale(100%);
}

.fade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, white 0%, transparent 10%, transparent 90%, white 100%);
  pointer-events: none;
}

@keyframes scroll-left {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
      transform: translateX(-50%);
  }
  100% {
      transform: translateX(0);
  }
}

/* Portfolio Section */
.container-work {
    width: 100%; /* Más margen a los costados */
    margin: 0 auto; /* Centra el contenedor */
    padding: 0 5%; /* Sin padding interno */
    background-color: white;;
}

.portfolio {
    padding: 50px 0;
    background: white;
    color: #fff;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px; /* Mayor separación entre las tarjetas */
}

.portfolio-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 500px; /* Altura fija para todas las tarjetas */
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantiene la relación de aspecto sin cortar */
}

/* Overlay effect */
.portfolio-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 12%;
    padding-right: 9%;
    opacity: 0;
    transition: opacity 0.3s;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

/* Italic text above the title for specific cards */
.portfolio-item.item3 .overlay::before,
.portfolio-item.item4 .overlay::before,
.portfolio-item.item7 .overlay::before,
.portfolio-item.item11 .overlay::before,
.portfolio-item.item14 .overlay::before {
    content: attr(data-special-note); /* Use the data-special-note attribute for content */
    font-family: "AvenirNext-Italic";
    font-size: 20pt; /* Slightly larger than the subtitle */
    color: #000;
    background-color: #ffc015; /* Highlight background */
    padding: 2px 4px;
    margin-bottom: 5px;
    display: block;
    border-radius: 0; /* Make the highlight more squared */
    width: fit-content; /* Adjust width to fit text */
    text-align: left; /* Align text to the left */
}

/* Title */
.portfolio-item h3 {
    color: #000;
    font-size: 45pt;
    margin: 0;
    line-height: 0.9;
    background-color: #ffc015; /* Fondo amarillo como resaltador */
    display: inline-block; /* Ajusta el fondo solo al texto */
    padding: 2px 1px; /* Un poco de espacio alrededor del texto */
    border-radius: 0; /* Bordes cuadradas */
    text-align: left; /* Align text to the left */
    font-family: "AvenirNext-Bold", sans-serif;
}

/* Subtitle */
.portfolio-item h4 {
    color: #000;
    font-size: 15pt;
    margin-top: 10px; /* Separación entre título y subtítulo */
    background-color: #ffc015; /* Fondo amarillo como resaltador */
    display: inline-block; /* Ajusta el fondo solo al texto */
    padding: 2px 4px; /* Un poco de espacio alrededor del texto */
    border-radius: 0; /* Bordes cuadradas */
    text-align: left; /* Align text to the left */
    font-family: "AvenirNext-Medium", sans-serif;
}

/* Custom Sizes */
.item4, .item10 {
    grid-column: span 3; /* Ocupan todo el ancho */
}

.item6, .item11, .item14 {
    grid-column: span 2; /* Ocupan dos columnas */
}

.item5, .item7, .item8, .item9, .item13, .item15, .item16, .item17 {
    grid-column: span 1; /* Ocupan una columna */
}

.item2{
    background-color: #ff5c80;
}

.item13{
    background-color: #ffc015;
}

/* Media Queries para diseño responsivo */
@media (max-width: 1024px) {
    .portfolio-item {
        height: 308px;
    }
}

/* Para tablets en landscape y pantallas más pequeñas (768px y abajo) */
@media (max-width: 768px) {
    .container {
        width: calc(100% - 40px); /* Más margen a los costados en pantallas más pequeñas */
    }

    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr); /* Se ajusta a 2 columnas */
        grid-gap: 20px; /* Ajusta la separación entre tarjetas */
    }

    .portfolio-item {
        height: 250px;
    }

    .item4, .item10 {
        grid-column: span 2; /* Ocupan dos columnas */
    }

    .item6, .item11, .item14 {
        grid-column: span 2; /* Ocupan dos columnas */
    }
}

/* Para dispositivos móviles (480px y abajo) */
@media (max-width: 480px) {
    .container {
        width: calc(100% - 20px); /* Aún más margen en pantallas muy pequeñas */
    }

    .portfolio-grid {
        grid-template-columns: 1fr; /* Se ajusta a una columna */
        grid-gap: 15px; /* Ajusta la separación entre tarjetas */
    }

    .item4, .item10, .item6, .item11, .item14 {
        grid-column: span 1; /* Ocupan una columna */
    }
    
    .portfolio-item h3 {
        font-size: 1.2em; /* Texto más pequeño para móviles */
    }
}

/* Contact Section */
.contact {
    padding: 50px;
    background: #ff00ff;
    color: #fff;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input, .contact textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.contact button {
    padding: 15px 30px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer */
.footer {
  background-color: #8014b6;
  color: white;
  padding: 20px;
  position: relative;
  padding-right: 10%;
}

/* Alinear los iconos de LinkedIn e Instagram uno al lado del otro */
.social-icons {
  display: flex;
  gap: 10px; /* Espacio entre los iconos */
  position: absolute;
}

.social-icon-footer {
  width: 28px; /* Ajusta el tamaño del ícono */
  height: 28px;
  margin-left: 15px; /* Espacio entre los íconos y el menú hamburguesa */
  fill: rgb(255, 255, 255); /* Color por defecto */
  transition: fill 300ms ease;
}

.container-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 100px auto 0;
}

.right-section-footer {
  width: 50%;
}

.right-section-footer h1 {
  font-size: 6em;
  margin: 0;
  font-family: "BebasNeue-Bold", sans-serif;
}

.contact-form {
  background-color: white;
  padding: 20px;
  color: black;
  border-radius: 0; /* Bordes cuadrados */
  margin-top: 10px; /* Espacio entre el título y el formulario */
  width: 100%;
}

.contact-form h2 {
  font-size: 1.2em;
  margin-bottom: 15px;
  color: black;
  text-align: left;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input{
  font-family: "AvenirNext-Regular", sans-serif;
}

.input-container input, .input-container textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  color: black;
}

.contact-form textarea {
  resize: none;
  height: 80px;
  font-family: "AvenirNext-Regular", sans-serif;
}

.botoncito{
  text-align: right;
  padding-top: 2%;
  width: 100%;
}

.button-form {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  width: 30%;
}

/* Alinear el texto del copyright y el botón de envío */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  font-size: 0.8em;
  flex-wrap: wrap; /* Permitir el ajuste de las secciones en pantallas pequeñas */
}

/* Hacer visible el logo de la empresa y posicionarlo justo encima de las ciudades */
.logo {
  text-align: center;
  margin-bottom: 20px; /* Espacio para que el logo quede encima de las ciudades */
}

.logo img {
  width: 100px; /* Tamaño del logo de la empresa */
  height: auto;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Estilo de la sección de ciudades */
.cities {
  display: flex;
  justify-content: center; /* Centrar las ciudades */
  align-items: center;
  gap: 15px; /* Espacio entre las ciudades */
}

.cities span {
  margin-right: 15px;
  font-family: "BebasNeue-Bold", sans-serif;
  color: #ff5c80;
  font-size: 4em;
}

.privacy-policy {
  color: white;
  text-decoration: none;
  margin-left: 0; /* Alinear con el formulario */
}

.legal {
  display: flex;
  justify-content: flex-start; /* Alinear el texto de la política de privacidad a la izquierda */
  width: 50%;
}

.legal span {
  margin-left: auto; /* Alinear el copyright con el botón de submit */
}

/* Manifesto CSS */

.main-manifesto{
  background-color: white;
  width: 100%;
  height: 100%;
  padding-top: 7%;
}

.manifesto-container{
  padding: 0 10%;
  background-color: white;
  width: 100%;
  padding-bottom: 2%;
}

.manifesto-title{
  font-family: "BebasNeue-Bold", sans-serif;
  font-size: 114pt;
  line-height: 0.7;
}

.manifesto-text{
  font-family: "BebasNeue-Bold", sans-serif;
  font-size: 43pt;
  color: #ff5c99;
  margin: 4% 0 0 0;
  line-height: 1.2;
}